{% extends 'base.html.twig' %}

{% block title %}MainView{% endblock %}

{% block body %}
    <h1>MainView</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ main_view.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ main_view.name }}</td>
            </tr>
            <tr>
                <th>Controller</th>
                <td>{{ main_view.controller }}</td>
            </tr>
            <tr>
                <th>Plid</th>
                <td>{{ main_view.plid }}</td>
            </tr>
            <tr>
                <th>Url</th>
                <td>{{ main_view.url }}</td>
            </tr>
            <tr>
                <th>Position</th>
                <td>{{ main_view.position }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ main_view.status ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_main_view_index') }}">back to list</a>

    <a href="{{ path('app_main_view_edit', {'id': main_view.id}) }}">edit</a>

    {{ include('main_view/_delete_form.html.twig') }}
{% endblock %}
