{% extends 'base.html.twig' %}

{% block title %}
  Main View Details
{% endblock %}

{% block body %}
  <div class="container mt-4">
    <h1 class="mb-4">Main View Details</h1>

    <div class="card">
      <div class="card-header">Main View Information</div>
      <div class="card-body">
        <table class="table table-striped">
          <tbody>
            <tr>
              <th scope="row">Id</th>
              <td>{{ main_view.id }}</td>
            </tr>
            <tr>
              <th scope="row">Name</th>
              <td>{{ main_view.name }}</td>
            </tr>
            <tr>
              <th scope="row">Controller</th>
              <td>{{ main_view.controller }}</td>
            </tr>
            <tr>
              <th scope="row">Plid</th>
              <td>{{ main_view.plid }}</td>
            </tr>
            <tr>
              <th scope="row">URL</th>
              <td>{{ main_view.url }}</td>
            </tr>
            <tr>
              <th scope="row">Position</th>
              <td>{{ main_view.position }}</td>
            </tr>
            <tr>
              <th scope="row">Status</th>
              <td>{{ main_view.status ? 'Active' : 'Inactive' }}</td>
            </tr>
          </tbody>
        </table>

        <div class="d-flex justify-content-between">
          <a class="btn btn-primary" href="{{ path('app_main_view_index') }}">Back to List</a>
          <a class="btn btn-warning" href="{{ path('app_main_view_edit', { id: main_view.id }) }}">Edit</a>
        </div>

        {{ include('main_view/_delete_form.html.twig') }}
      </div>
    </div>
  </div>
{% endblock %}
