{% extends 'base.html.twig' %}

{% block title %}
  Section
{% endblock %}

{% block body %}
  <div class="container mt-4">
    <h1 class="mb-4">Section Details</h1>

    <table class="table table-striped">
      <tbody>
        <tr>
          <th scope="row">Id</th>
          <td>{{ section.id }}</td>
        </tr>
        <tr>
          <th scope="row">Name</th>
          <td>{{ section.name }}</td>
        </tr>
        <tr>
          <th scope="row">Controller</th>
          <td>{{ section.controller }}</td>
        </tr>
        <tr>
          <th scope="row">Plid</th>
          <td>{{ section.plid }}</td>
        </tr>
        <tr>
          <th scope="row">Url</th>
          <td>{{ section.url }}</td>
        </tr>
        <tr>
          <th scope="row">Position</th>
          <td>{{ section.position }}</td>
        </tr>
        <tr>
          <th scope="row">Status</th>
          <td>{{ section.status ? 'Yes' : 'No' }}</td>
        </tr>
      </tbody>
    </table>

    <div class="mt-3">
      <a href="{{ path('app_section_index') }}" class="btn btn-primary">Back to List</a>
      <a href="{{ path('app_section_edit', { id: section.id }) }}" class="btn btn-warning">Edit</a>
    </div>

    {{ include('section/_delete_form.html.twig') }}
  </div>
{% endblock %}
