{% extends 'base.html.twig' %}

{% block title %}
  Subsection
{% endblock %}

{% block body %}
  <div class="container mt-4">
    <h1 class="mb-4">Subsection Details</h1>

    <table class="table table-striped">
      <tbody>
        <tr>
          <th scope="row">Id</th>
          <td>{{ subsection.id }}</td>
        </tr>
        <tr>
          <th scope="row">Name</th>
          <td>{{ subsection.name }}</td>
        </tr>
        <tr>
          <th scope="row">Controller</th>
          <td>{{ subsection.controller }}</td>
        </tr>
        <tr>
          <th scope="row">Plid</th>
          <td>{{ subsection.plid }}</td>
        </tr>
        <tr>
          <th scope="row">Url</th>
          <td>{{ subsection.url }}</td>
        </tr>
        <tr>
          <th scope="row">Position</th>
          <td>{{ subsection.position }}</td>
        </tr>
        <tr>
          <th scope="row">Status</th>
          <td>{{ subsection.status ? 'Yes' : 'No' }}</td>
        </tr>
      </tbody>
    </table>

    <div class="mt-3">
      <a href="{{ path('app_subsection_index') }}" class="btn btn-primary">Back to List</a>
      <a href="{{ path('app_subsection_edit', { id: subsection.id }) }}" class="btn btn-warning">Edit</a>
    </div>

    {{ include('subsection/_delete_form.html.twig') }}
  </div>
{% endblock %}
