{{ form_start(form, {'attr': {'class': 'needs-validation', 'novalidate': true}}) }}
    <div class="mb-3">
        {{ form_label(form.name, null, {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.name) }}
    </div>

    <div class="mb-3">
        {{ form_label(form.icon, null, {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(form.icon, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.icon) }}
    </div>

    <div class="mb-3">
        {{ form_label(form.url, null, {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(form.url, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.url) }}
    </div>

    <div class="mb-3">
        {{ form_label(form.position, null, {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(form.position, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.position) }}
    </div>

    <div class="mb-3 form-check">
        {{ form_widget(form.status, {'attr': {'class': 'form-check-input'}}) }}
        {{ form_label(form.status, null, {'label_attr': {'class': 'form-check-label'}}) }}
        {{ form_errors(form.status) }}
    </div>

    <button class="btn btn-primary">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
