{% extends 'base.html.twig' %}

{% block title %}
  Footer
{% endblock %}

{% block body %}
  <div class="container mt-4">
    <h1 class="mb-4">Footer</h1>

    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Icon</th>
          <th>Url</th>
          <th>Status</th>
          <th>Position</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        {% for footer in footers %}
          <tr>
            <td>{{ footer.id }}</td>
            <td>{{ footer.name }}</td>
            <td>{{ footer.icon }}</td>
            <td>
              <a href="{{ footer.url }}" target="_blank">{{ footer.url }}</a>
            </td>
            <td>{{ footer.status ? 'Yes' : 'No' }}</td>
            <td>{{ footer.position }}</td>
            <td>
              <a class="btn btn-info btn-sm" href="{{ path('app_footer_show', { id: footer.id }) }}">Show</a>
              <a class="btn btn-warning btn-sm" href="{{ path('app_footer_edit', { id: footer.id }) }}">Edit</a>
            </td>
          </tr>
        {% else %}
          <tr>
            <td colspan="7" class="text-center">No records found</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

    <div class="mt-4">
      <a class="btn btn-success" href="{{ path('app_footer_new') }}">Create New</a>
    </div>
  </div>
{% endblock %}
